* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

button {
  border: none;
  padding: 1rem 2rem;
}

button:hover {
  cursor: pointer;
}

h1 {
  margin: 0;
}

.container {
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stats {
  display: flex;
  gap: 1rem;
}

.canvasContainer {
  flex: 1;
  display: flex;
  max-height: 70%;
}

.canvasContainer canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: 0 auto;
}

.size {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.size input {
  width: 3rem;
  text-align: center;
}
